@charset "UTF-8";
/* Carrusel*/
#carouselExampleIndicators {
  max-height: 90%;
  max-width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; }

/*Texto*/
h1 {
  padding-bottom: 10px;
  text-align: center; }

h2, h3 {
  text-align: center;
  font-size: 30px; }

p {
  text-align: center;
  font-size: 22px;
  line-height: 40px; }

.texto {
  text-align: center;
  font-size: 10px; }

/*Snippet de imágenes de fotogaleria y talleres*/
/* Globals */
body {
  margin: 0 auto;
  color: #241623;
  background: #eef2f4; }

h1 {
  font-weight: 900;
  font-size: 2.7rem;
  max-width: 20ch; }

a {
  color: currentcolor; }

/* Utilities */
.flow > * + * {
  margin-top: var(--flow-space, 1em); }

/* Composition */
.team {
  --flow-space: 2em; }

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden; }

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0; }

/*snippet de footer*/
#social-fb:hover {
  color: #3B5998; }

#social-tw:hover {
  color: #4099FF; }
